@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-image: url(./img/home-background.svg);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.section {
  text-align: center;
  h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: black;
  }
}

.query {
  text-align: center;
  li {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  input {
    text-align: right;
    background: transparent;
    border-bottom: 1px solid white;
    width: 20%;
    color: white;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  margin-bottom: 2rem;
}

.carousel-heading {
  display: flex;
  justify-content: center;
}

.slide {
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
  filter: grayscale() blur(1px);
}

.player-slide:hover {
  .slide {
    filter: none;
  }
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  margin-right: 50rem;
}

.arrow-right {
  margin-left: 50rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
  background-color: white;
  border: 1px solid white;
  padding: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator:hover {
  background-color: black;
}

.indicator-inactive {
  background-color: grey;
}

.ps-1 {
  width: 80%;
}

.player-btn {
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    filter: grayscale();
  }
}
.player-btn:hover {
  img {
    filter: none;
  }
}

.focus-btn {
  .MuiPaper-root {
    border: 2px solid black;
  }
  img {
    filter: none;
  }
}

.spotify-btn {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.spotify-btn:hover {
  background-color: black;
  color: white;
}

.menu-btn:hover {
  background-color: black;
  color: white;
}

.submit-btn:hover {
  background-color: black;
  color: white;
}

.done-btn:hover {
  background-color: black;
  color: white;
}

.player-card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .p-header {
    align-self: flex-end;
    margin-right: .5rem;
    margin-top: .5rem;
    p {
      color: white;
    }
  }
  .p-footer {
    background: rgba(204, 204, 204, 0.5);
    padding-left: .5rem;
    padding-bottom: .5rem;
    p {
      color: white;
      text-align: left;
      opacity: none;
    }
  }
  filter: grayscale();
}

.player-card:hover {
  filter: none;
}

.focus-btn {
  .player-card {
    border: 2px solid black;
    filter: none;
  }
}

.options-text {
  font-size: 1.5rem;
}

.finalized {
  filter: none;
}