@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-image: url(./img/home-background.svg);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.player-count {
  background-image: url(https://picsum.photos/200/200);
  display: flex;
  background-size: auto;
  width: 300px;
  height: 300px;
  border: 3px solid white;
  border-radius: 2rem;
  color: white;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%) blur(1px);
}

.player-count:hover {
  filter: none;
}

.player-count h3 {
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 3px 3px 2px #000, -3px 3px 2px #000, -3px -3px 0 #000,
    3px -3px 0 #000;
}

#ones {
  background-image: url(./img/ones.webp);
  background-size: cover;
}

#twos {
  background-image: url(./img/twos.jpg);
  width: 400px;
  background-size: cover;
}

#threes {
  background-image: url(./img/threes.jpg);
  width: 400px;
  background-size: cover;
}

#fours {
  background-image: url(./img/fours.avif);
  width: 600px;
  background-size: cover;
}

#fives {
  background-image: url(./img/fives.webp);
  width: 600px;
  background-size: cover;
}

.section {
  text-align: center;
  h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: black;
  }
}


.query {
  text-align: center;
  li {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  input {
    text-align: right;
  }
}
