@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-image: url(./img/home-background.svg);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.section {
  text-align: center;
  h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: black;
  }
}

.query {
  text-align: center;
  li {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  input {
    text-align: right;
    background: transparent;
    border-bottom: 1px solid white;
    width: 20%;
    color: white;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin-bottom: 2rem;
}

.carousel-heading {
  display: flex;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  
}

.slide {
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
  filter: grayscale() blur(1px);
  border-radius: 0 0 1rem 1rem;
}

.player-slide {
  padding: 1rem;
}

.player-slide:hover {
  .slide {
    filter: none;
  }
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  margin-right: 45rem;
}

.arrow-right {
  margin-left: 45rem;
}

@media (max-width: 768px) {
  .arrow {
    bottom: 1.3rem;
  }

  .arrow-left {
    margin-right: 10rem;
  }
  
  .arrow-right {
    margin-left: 10rem;
  }
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
  background-color: white;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator:hover {
  background-color: black;
}

.indicator-inactive {
  background-color: grey;
}

.ps-1 {
  width: 80%;
}

.player-btn {
  border-radius: 1rem;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.player-btn:hover {
  img {
    filter: none;
  }
}

.menu-btn:hover {
  background-color: black;
  color: white;
}

.submit-btn:hover {
  background-color: black;
  color: white;
}

.done-btn:hover {
  background-color: black;
  color: white;
}

.player-card {
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid black;
  .p-header {
    align-self: flex-end;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    p {
      color: white;
    }
  }
  .p-footer {
    border-radius: 0 0 1rem 1rem;
    border: 1px solid black;
    background: rgba(204, 204, 204, 0.5);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    p {
      color: black;
      text-align: center;
      opacity: none;
    }
  }
}

.p-footer-photo {
  border-radius: 0 0 1rem 1rem;
  background: rgba(0, 0, 0, 0.5);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  p {
    color: white;
    text-align: center;
    opacity: none;
  }
}

.player-card:hover {
  filter: none;
  scale: 1.05;
}

.focus-btn {
  .player-card {
    background-color: grey;
    border: 2px solid red;
  }
  .player-card-photo {
    border: 2px solid red;
  }
}

.options-text {
  font-size: 1.5rem;
}

.finalized {
  filter: none;
}

.overall-box {
  padding: 0.15rem;
  border-radius: 0.15rem;
}

.dark-matter {
  background: linear-gradient(rgba(75, 168, 255, 0.1), rgba(0, 0, 0, 0.7)),
    linear-gradient(to bottom left, #000, #400000, #562683);
}

.galaxy-opal {
  background: linear-gradient(rgba(75, 168, 255, 0.1), rgba(0, 0, 0, 0.7)),
    linear-gradient(to bottom left, #188fff, #e1a6e7, #f9a205);
  box-shadow: 0 0 10px #f9a205;
}

.pink-diamond {
  background: linear-gradient(#ff96df, #ad388a);
  box-shadow: 0 0 10px #ff96df;
}

.diamond {
  background: linear-gradient(#00aace, #005668);
}

.amethyst {
  background: linear-gradient(#a51fff, #5b1c86);
}

.ruby {
  background: linear-gradient(#e70000, #810000);
}

.sapphire {
  background: linear-gradient(#0020ce, #001068);
}

.emerald {
  background: linear-gradient(#05c715, #03630b);
}

.gold {
  background: linear-gradient(#d6bb5c, #a38829);
}

.silver {
  background: linear-gradient(#a2a2a2, #6f6f6f);
}

.bronze {
  background: #c90;
}